body{
    margin: 0;
    padding: 0; 
}
h1{
    text-align: center;
    font-size: 10vw;
}

div{
    display:grid;
    height:0;
    grid-template-rows:50vh 50vh;
    grid-template-areas:'s1 s2'
                        's3 s4';
}   


section:nth-child(1){
    grid-area:s1;
    background-color:green;
}
section:nth-child(2){
    grid-area: s2;
    background-color: blue;

}
section:nth-child(3){
    grid-area: s3;
    background-color: red;
 
}
section:nth-child(4){
    grid-area: s4;
    background-color: yellow;
}

